<input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
<button (click)="onSearch()" [disabled]="loading || searchTerm.length === 0">
  Search
</button>
Example of a dyno: "Aardonyx"

<div *ngIf="dynos$ | async">
  <h3>Results:</h3>
  <div *ngFor="let result of dynos$ | async">
    {{ result.Name }} <br />
    {{ result.Description }}
  </div>
  <div *ngIf="(dynos$ | async)?.length === 0 && searchTerm.length !== 0">
    No records found.
  </div>
</div>

<router-outlet></router-outlet>
